{% extends 'base.html' %}
{% block content%}
<body>


    <div class="col-md-6">
            <h4>Task tobe completed </h4>
            {% for i in task1 %}
            <div class="shadow card">
                <div class="card-body">
                    <p><b>{{task.priority}}</b></p>
                    <h5 class="card-title">{{task.name}} </h5>

                    <p>{{task.date}}</p>
                    <a class="btn btn-danger" href="{%  url 'delete' task.id %}">Done</a>
                    <a class="btn btn-danger" href="{%  url 'update' task.id %}">update</a>
                </div>
            </div><br>
</body>
{% endblock %}